@media only screen and (max-width: 480px) {
  .slider #carousel .carousel-inner img{
    height: 500px !important;
    width: auto !important;
  }
  .carousel-caption{
    font-size: 1.5em ;
    color: black ;
    background-color: rgba(215, 202, 202, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 250px;
  }
  .carousel-caption h5{
    font-size: 1.7em;
    font-weight: bold;
  }
}
@media only screen and (max-width: 720px) and (min-width: 481px) {
  .carousel-caption{
    font-size: 1.8em ;
    color: black ;
    background-color: rgba(215, 202, 202, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 250px;
  }
  .carousel-caption h5{
    font-size: 1.7em;
    font-weight: bold;
  }
  .card{
    margin: 10px;  
    display: inline-block;
  }

}
